//Variables
$transition: all .2s ease-in-out

$med-device: 875px
$sm-device: 580px

//End of Variables


//External CSS

//End of External CSS


//Animations

//End of Animations


//Fonts

//End of Fonts


//SASS Imports
@import "./base/reset"
@import "./base/global"
//End of Imports