//Variables
$transition: all .2s ease-in-out
$fade-transition: all .3s ease-in-out

$med-device: 875px
$sm-device: 580px

$green: #6CCECD
$orange: #DF997D

$muliFont: 'Muli', sans-serif
$latoFont: "Lato", sans-serif
//End of Variables


//External CSS

//End of External CSS


//Animations

//End of Animations


//Fonts
@import url(//fonts.googleapis.com/css?family=Muli:400,400italic,300)
@import url(//fonts.googleapis.com/css?family=Lato:400,100,300,700,900)
//End of Fonts


//SASS Imports
@import "./base/reset"
@import "./base/global"
#app
	@import "./components/all"
//End of Imports