.home
	width: 100%
	height: auto
	.home-jumbotron
		top: 90px
		position: fixed
		left: 0
		width: 100vw
		height: 90vh
		background-color: $orange
		background-image: url("../assets/gabe.png")
		background-repeat: no-repeat
		background-size: cover
		background-position: bottom center