.landing
	width: 100%
	margin: 0 auto
	.landing-wrapper
		width: 100%
		//background-color: brown
		margin: 0 auto
		position: fixed
		top: 34vh
		font-family: $latoFont
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		align-items: center
		.underline
			.underline-mark
				height: .8vw
	h1
		font-weight: 200
		font-size: 10vw
		display: inline-block
		color: #95989A