.landing-icon
	background-color: $orange
	width: 15%
	padding-bottom: 15%
	border-radius: 100%
	background-image: url("../assets/gabe.png")
	background-repeat: no-repeat
	background-position-y: 60%
	background-position-x: 38%
	background-size: 300%
	display: inline-block