.menu-container
	width: 100vw
	height: 90vh
	position: fixed
	display: block
	opacity: 0
	transition: $fade-transition
	top: 90px
	background-color: rgba(255, 255, 255, .9)
	z-index: 9999
	visibility: hidden
	backface-visibility: hidden
	perspective: 1000
	transform: translateZ(0)
	will-change: opacity
	&--visible
		transition: $fade-transition
		visibility: visible
		opacity: 1
	&--hidden
		transition: $fade-transition
		opacity: 0
		visibility: hidden
	@import "menu-nav"