.navbar
	width: 100vw
	background-color: #62b4ff
	height: 100px
	position: relative
	.navbar-header-wrapper
		display: inline-block
		position: relative
		transition: $transition
		@import "navbar-socials"
		.navbar-header-text
			color: #ffffff
			position: relative
			z-index: 2
		.navbar-header-block
			background-color: $green
			width: 8%
			height: 100%
			position: absolute
			z-index: 1
			transition: $transition
		&:hover
			cursor: pointer
			.navbar-header-block
				width: 100%