.navbar
	width: 100vw
	height: 30px
	display: block
	position: fixed
	top: 0
	background-color: #ffffff
	padding: 30px 0 30px 0
	@import "navbar-btn"
	.navbar-header-wrapper
		display: inline-block
		position: relative
		transition: $transition
		width: 100%
		left: 2.5%
		@import "navbar-socials"
		.navbar-header-text
			color: #ffffff
			position: relative
			z-index: 2
			margin-left: 22px
			display: inline-block
			font-weight: 500
		.navbar-header-block
			background-color: $green
			width: 42px
			height: 100%
			max-height: 45px
			position: absolute
			z-index: 1
			transition: $transition
		&:hover
			.navbar-header-text
				cursor: pointer
			.navbar-header-block
				width: 275px
			.navbar-socials
				opacity: 1