.navbar-navbtn-wrapper
	z-index: 9999
	display: inline-block
	position: absolute
	right: 4%
	padding: 0 10px
	cursor: pointer
.navbar-navbtn
	width: 20px
	height: 35px
	transition: $transition
	transform: rotate(180deg) translate(0, 0)
	&--open
		transform: rotate(225deg) translate(-9px, 0)
	.navbar-navbtn-img1, .navbar-navbtn-img2
		position: relative
		height: 100%
		width: 3px
		display: inline-block
		background-color: $orange
		transition: $transition
	.navbar-navbtn-img1
		margin-right: 70%
		&--open
			transform-origin: center
			transform: translate(17px, 0)
	.navbar-navbtn-img2
		&--open
			transform-origin: center
			transform: rotate(-90deg)