.notification-wrapper
	position: absolute
	width: 100%
	top: 0
	transition: $transition
.notification-icon-wrapper
	position: absolute
	right: 20%
	top: 30px
	width: 60px
	margin-top: -3px
	padding-top: 3px
	height: 40px
	z-index: 2
	cursor: s-resize
	@media only screen and (max-width: $sm-device)
		right: 40%
	.notification-icon
		width: 34px
		height: 34px
		border-radius: 50px
		background-color: $orange
		text-align: center
		color: #ffffff
		margin: 0 auto
		line-height: 34px
.notification-convo
	width: 620px
	height: 87vh
	margin: 0 auto
	position: absolute
	right: 0
	overflow-y: scroll
	overflow-scrolling: touch
	-webkit-overflow-scrolling: touch
	display: none
	opacity: 0
	top: 90px
	background-color: rgba(255, 255, 255, 1)
	border: 1px solid gray
	transition: $fade-transition
	@media only screen and (max-width: $med-sm-device)
		width: 100%
	&--open
		transition: $fade-transition
		display: block
		opacity: 1