.smooch-chat
	.smooch-chat-thread
		font-family: $latoFont
		font-weight: 300
		font-size: 38px
		margin: 20px 0
		display: block
		opacity: 1
		animation: thread-fade-in .2s cubic-bezier(0.4, 0, 0.2, 1)
		@keyframes thread-fade-in
			0%
				opacity: 0
			100%
				opacity: 1
		&--appUser
			color: $green
			text-align: right
			padding-left: 10%
		&--appMaker
			color: $orange
			text-align: left
			padding-right: 10%
	.smooch-chat-name
		display: block
		font-size: 22px
		font-style: italic
		font-weight: 200
		margin-top: 5px