.work
	width: 100vw
	margin-left: -4vw
	font-family: $latoFont
	.work-details-wrapper
		width: 100%
		height: 300px
		background-color: #A7664C
		.work-details
			width: 85%
			margin: 0 auto
			padding-top: 20px
			color: #ffffff
			.work-details-header
				display: block
				width: 100%
				height: 30px
				border-bottom: 1px solid #ffffff
				position: relative
				&-name
					float: left
				&-date
					float: right
			.work-details-info
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				justify-content: space-between
				margin-top: 50px
				.work-details-built
					max-width: 28%
				.work-details-team
					ul
						list-style: none
	.work-header
		width: 100%
		height: 60px
		background-color: #D3754F